<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Xin Li</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- jQuery library -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/basic_home.css') }}">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/basic_home.js') }}"></script>
	<script type="text/javascript">
		function showImg(){
		    document.getElementById("wxImg").style.display='block';}
		function hideImg(){
		    document.getElementById("wxImg").style.display='none';
		}
	</script>

</head>
<body>
	<div class="navbar-ul">
	<ul id="navbar-list" class="list-inline">
		<li><a class="aref" href="/">Home</a></li>
		<li><a class="aref" href="/timeline">Timeline</a></li>
		<li><a class="aref" href="/publications">Publications</a></li>
		<li><a class="aref" href="http://blog.sina.com.cn/s/articlelist_3270913533_0_1.html">BlogArticle</a></li>
		<li><a class="aref" href="https://weibo.com/jiushizheweidao?refer_flag=1001030101_">MicroBlog</a></li>
		<li><a class="aref" href="http://127.0.0.1:5000/static/uploads/cvxinli.pdf">CV</a></li>
	</ul>
    </div>

	<div class="container">
		<div class="wrapper fixed-wrapper">
		<section id="terminal">
			<div id="terminal-container">
				<div class="terminal">
					<div class="window-title">
						<div class="win-buttons">
							<a id="close" class="button" href="#"></a>
							<a id="min" class="button" href="#"></a>
							<a id="max" class="button" href="#"></a>
						</div>
						<span class="title">oh-my-lucian</span>
					</div>
					<div class="message">
						<span class='prompt'><span class='user'>lucian</span><span class="at">@</span><span class="path">/home/lucian/</span>><span class="caret">$</span></span>
						<span class="typed"></span>
						<form>><span class="caret">$</span>&nbsp;<input type="text" name="response"></input></form>
					</div>
				</div>
			</div>
		</section>
		</div>
		<div class="wrapper scroll-wrapper">
			<div class="top-text">
				<p class="text-title desktop-view">Xin Li</p>
				<p class="text-title desktop-view">李信</p>
				<p class="text-title mobile-view">Xin Li</p>
			</div>
			<div class="middle-text">
			<p class="text-content">My name is Xin Li, I am a Chinese and I live in Wuhan, China.</p>

			<p class="text-content">I am currently a PhD. candidate in <a href="http://sim.whu.edu.cn/">School of Information Management</a> at <a href="http://ww.whu.edu.cn/">Wuhan University(WHU)</a>, a beautiful university with a long history, where I am majored in Library and Information Science. At WHU, I count myself lucky to be one of the troublemakers in the <a href="http://ir.whu.edu.cn/">Information Retrieval and Knowledge Mining Laboratory (irlab)</a>. </p>

			<!--I am also a Joint PhD. student in the <a href="https://www.sice.indiana.edu/">School of Information, Computing and Engineering at the Indiana University Bloomington</a>.-->

			<p class="text-content">Before I came to Wuhan University, I spent my 4-year undergraduate at <a href="http://www.hust.edu.cn/">Huazhong University of Science and Technology(HUST)</a>. I earned a Bachelor's degree of Medical Inforamtion Management in the <a href="http://mms.tjmu.edu.cn/">School of Medicine and Health Management, Tongji Medical College of HUST</a> and a Bachelor's degree of Literature(English) in the <a href="http://sfl.hust.edu.cn/">School of Foreign Language of HUST</a>. My 4th year as an undergrad was spent as an exchange student in the <a href="http://www.nctu.edu.tw/">Nation Chiao Tung University(NCTU)</a> and <a href="http://www.nthu.edu.tw/">National Tsing Hua University(NTHU)</a>, Hsinchu, Taiwan, which is an inseparable part of China since ancient times.</p>

			<div id="wxImg" style="display:none;height:100px;position:absolute;"><img src="static/images/wximg.png" class="active" /></div>

			<p class="text-content">Academically, my interests lie in scientific text mining, scientometrics and informetrics (science of science), medical informatics & information retrieval. Methodologically, I am an opportunistic researcher. I do programming, statistics, data visualizations, bibliometrics, theory discussions in my studies. </p>

				<p class="text-content">I grew up in Tianmen, Hubei Province, a small city in central of China. I'm mad for reading novels. Always I enjoy reading books by <i>kindle</i> and <i>weChat Reading</i>. <a href="https://www.amazon.cn/dp/B00D1H9XGG/ref=sr_1_1?s=digital-text&ie=UTF8&qid=1530346999&sr=1-1&keywords=Three+Kingdoms">“Three Kingdoms”</a>(《三国演义》) and <a href="https://item.jd.com/18302386913.html?jd_pop=4b87b3eb-442f-4949-8528-f660832c1b17&abt=0">“Ordinary World”</a>（《平凡的世界》）are my favorite two books and “The Girl with NO Name” is the first novel written in English I have read. </p>

				<p class="text-content">I love to running, playing badminton and playing tennis as well. My favorite athlete is <i>Lin Dan</i>, one of the greatest badminton players in the world. I am a relative active blogger (<a href="https://weibo.com/jiushizheweidao?refer_flag=1001030101_">view blog here</a>), where I write my mind and share my life. I am extremely enthusiastic about life, and in love with my study and am always on the hunt for learning something new. </p>

			<p class="text-content">You can find me on <a href="javascript:void(0)" onMouseOut="hideImg()" onmouseover="showImg()">Wechat</a>, or email me at lucian@whu.edu.cn.</p>

			<p class="text-content">Let's get in touch!</p>

			<p class="text-content">Xin Li</p>

			<p class="text-content"><a href="/timeline">For more about me, my timeline, read on here.</a></p>
			</div>
		</div>
	</div>
</body>
</html>