<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>publications of Xin Li</title>
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/aboutme.css') }}" rel = "stylesheet">
</head>
<body>
    <div class="container-fluid">
    <div class="navbar-ul">
	<ul id="navbar-list" class="list-inline">
		<li><a class="aref" href="/"><b>Home</b></a></li>
        <li><a class="aref" href="/timeline"><b>Timeline</b></a></li>
		<li><a class="aref" href="/publications"><b>Publications</b></a></li>
        <li><a class="aref" href="http://blog.sina.com.cn/s/articlelist_3270913533_0_1.html"><b>BlogArticle</b></a></li>
        <li><a class="aref" href="https://weibo.com/jiushizheweidao?refer_flag=1001030101_"><b>MicroBlog</b></a></li>
        <li><a class="aref" href="http://127.0.0.1:5000/static/uploads/cvxinli.pdf"><b>CV</b></a></li>
	</ul>
    </div>

      <div class="col-md-6 col-md-offset-3">


        <div class="row" style="margin-top:20px">
          <div class="col-md-12"><b><p>This material is presented to ensure timely dissemination of scholarly and technical work. Copyright and all rights therein are retained by authors or by other copyright holders. All persons copying this information are expected to adhere to the terms and constraints invoked by each author’s copyright. In most cases these works may not be reposted without the explicit permission of the copyright holder.</p></b></div>
        </div>

       <!--文章列表   -->
        <div class="row">
          <div class="col-md-8"><h1>PUBLICATIONS</h1></div>
          <div class="col-md-8"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ul>
                <li>李信，李倩.传统文献计量与科学评价的一个补充视角:全时间域的RPYS[J]. 图书情报知识, 2017(4):89-99. <b>[<a href="http://47.96.153.156/pubs/2018/05/15/4365c9ab-c16b-4b46-9574-4d5d1124e4f3.pdf">full text</a>]</b></li>
                <li>李信, 肖香龙,等. 基于RPYS分析的引文分析研究:起源和演化[J]. 图书馆论坛, 2017(11):56-65. <b>[<a href="http://47.96.153.156/pubs/2018/05/15/53403566-26ef-4c5a-8fd2-a2aa2f6e19a4.pdf">full text</a>]</b></li>
                <li>李信, 程齐凯, 刘兴帮. 基于词汇功能识别的科研文献分析系统设计与实现[J]. 图书情报工作, 2017(1):109-116.<b>[<a href="http://47.96.153.156/pubs/2018/05/15/fed94892-1876-4a0f-8832-40b2685fb573.pdf">full text</a>]</b></li>
            <!--I am also working on translating the lifehacks to different languages by crowdsourcing the same.-->
                <li>Li Xin, Cheng Qikai, Lu Wei.CS-LAS: A Scientific Literature Retrieval and Analysis System Based on Term Function Recognition (TFR)[C]// ISSI. (to appear)</li>
                <li>方龙, 李信, 黄永,等. 学术文本的结构功能识别——在关键词自动抽取中的应用[J]. 情报学报, 2017, 36(6):599-605. <b>[<a href="http://47.96.153.156/pubs/2018/05/15/49056775-cbf0-4c23-802e-e828c8f2d5b7.pdf">full text</a>]</b></li>
                <li>程齐凯, 李信. 面向语义出版的学术文本词汇语义功能自动识别[J]. 数字图书馆论坛, 2017(8):24-31. <b>[<a href="http://47.96.153.156/pubs/2018/05/15/d004bd11-a7a1-46ab-98ef-db3b5a89a9ba.pdf">full text</a>]</b></li>
                <li>王鑫, 程齐凯, 李信,等. 基于引文上下文的相关研究辅助生成系统设计与实现[J]. 数字图书馆论坛, 2017(8):16-23. <b>[<a href="http://47.96.153.156/pubs/2018/05/15/cb95df03-916f-448f-b54a-e581d6d61f1b.pdf">full text</a>]</b></li>
                <li>李信, 李旭晖. 面向电子健康素养的大学生网络健康信息搜寻行为现状调查及对策建议[J]. 图书馆理论与实践, 2017(4):44-50. <b>[<a href="http://47.96.153.156/pubs/2018/05/15/60771228-0c21-4c7e-8f79-c00e804f43d8.pdf">full text</a>]</b></li>
                <li>李信, 李旭晖. 基于文献计量的国际健康信息素养评估研究[J]. 现代情报, 2017, 37(2):134-140. <b>[<a href="https://arxiv.org/abs/1611.03298">full text</a>]</b></li>
                <li>李信. 基于霍尔模型的大数据战略实施体系构建[J]. 数字图书馆论坛, 2016(6):28-33. <b>[<a href="http://47.96.153.156/pubs/2018/05/15/fd35f0f9-e74c-424e-9433-4618103befd2.pdf">full text</a>]</b></li>
                <li>李信, 陆伟, 李旭晖. 一种新兴的学科领域历史根源探究方法:RPYS[J]. 图书情报工作, 2016, 60(20):70-76. <b>[<a href="http://47.96.153.156/pubs/2017/06/23/757da573-0b28-446f-922a-469e7b4f0d5e.pdf">full text</a>]</b></li>
                <li>程齐凯, 李信, 陆伟. 基于情感词汇的科研论文写作风格演变研究——1994-2012年科研论文摘要中情感词汇使用情况的回顾性分析[J]. 图书情报知识, 2016(6):62-68. <b>[<a href="http://47.96.153.156/pubs/2017/06/23/05091908-5aab-45af-a95c-f48f08a121de.pdf">full text</a>]</b></li>
                <li>李信, 李旭晖, 陆伟,等. 大数据驱动下的图书情报学科热点领域挖掘——面向WOS题录数据的实证视角[J]. 图书馆论坛, 2017, 37(4):49-57. <b>[<a href="http://47.96.153.156/pubs/2018/05/15/4e17a9dc-5f06-4a78-971a-f358cd97abd9.pdf">full text</a>]</b></li>
          </ul>
          </div>
        </div>

      <!--工具列表     -->
      <div class="row">
          <div class="col-md-4"><h1>TOOLS</h1></div>
          <div class="col-md-8"></div>
        </div>

      <div class="row">
          <div class="col-md-12">
            <ul>
                <li><b><a>RootCite</a></b></li>
                <li><b><a>CS_LAS</a></b></li>
          </ul>
          </div>
        </div>

      <!--结尾    -->
        <div class="row">
          <div class="col-md-12 " style="margin-top:20px">
            <p>I am interested in scientific text mining, scientometrics and informetrics, medical informatics and natural language processing. For me, I am making efforts to combine these interests to get high quality papers! And I am looking forward for collaborate with you!</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
</body>
</html>