<!DOCTYPE html>
<html>
<head>
  <title>About Xin Li</title>
  <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/aboutme.css') }}" rel = "stylesheet">

</head>
<body>
    <div class="container-fluid">
    <div class="navbar-ul">
	<ul id="navbar-list" class="list-inline">
		<li><a class="aref" href="/">Home</a></li>
		<li><a class="aref" href="/timeline">Timeline</a></li>
		<li><a class="aref" href="/publications">Publications</a></li>
		<li><a class="aref" href="http://blog.sina.com.cn/u/3270913533" target='_BLANK'>Blog</a></li>
		<li><a class="aref" href="https://weibo.com/jiushizheweidao?refer_flag=1001030101_" target='_BLANK'>Weibo</a></li>
		<li><a class="aref" href="http://127.0.0.1:5000/static/uploads/cvxinli.pdf">CV</a></li>
	</ul>
    </div>

      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-md-4"><h1>About Me</h1></div>
          <div class="col-md-8"></div>
        </div>

        <div class="row">
          <div class="col-md-3"><img src="/static/images/me.jpg" alt="Xin Li"></div>
          <div class="col-md-9">
            <p>Before I came to Wuhan University, I spent my 4-year undergraduate at <a href="http://www.hust.edu.cn/">Huazhong University of Science and Technology(HUST)</a>. I earned a Bachelor's degree of Medical Inforamtion Management in the <a href="http://mms.tjmu.edu.cn/">School of Medicine and Health Management, Tongji Medical College of HUST</a> and a Bachelor's degree of Literature(English) in the <a href="http://sfl.hust.edu.cn/">School of Foreign Language of HUST</a>. My 4th year as an undergrad was spent as an exchange student in the <a href="http://www.nctu.edu.tw/">Nation Chiao Tung University(NCTU)</a> and <a href="http://www.nthu.edu.tw/">National Tsing Hua University(NTHU)</a>, Hsinchu, Taiwan, which is an inseparable part of China since ancient times.</p>
            <p>
              I grew up in Tianmen, Hubei Province, a small city in central of China.
            </p>
          </div>
        </div>

        <div class="row" style="margin-top:20px">
            <div class="col-md-4"><a class="button primary-blue" href="https://www.linkedin.com/in/xin-li-89a82111a/"> LinkedIn</a></div>
            <div class="col-md-4"><a class="button primary-blue" href="http://127.0.0.1:5000/static/uploads/cvxinli.pdf"> Resume</a></div>
            <div class="col-md-4"><a class="button primary-blue" href="https://github.com/lucian-whu"> &lt;GitHub&gt;</a></div>
        </div>

        <div class="row" style="margin-top:20px">
          <div class="col-md-12"><p>Since 2016, I have:</p></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul>
            <li><b>[Internship, Tonbo Imaging]</b>
              <br>
              <br>
            </li>
            <li><b>[Research, Spatio-Temporal Dataset]</b> </li>
            <li><b>[Android, LifeHacks]</b> </li>
            <li><b>[Android, Lens Launcher]</b> </li>
            <li><b>[Hill Hacks, Dharamshala]</b> </li>
            <li><b>[Internship, Health-Kiosk, IoT]</b></li>
            <li><b>[Internship, 360° camera, IoT]</b></li>
            <li><b>[Smart Kumbhmela, Nasik]</b> </li>
            <li><b>[Android, Udacity Nanodegree]</b> </li>
            <li><b>[Android, Infinite Scrolling Images]</b> </li>
            <li><b>[Android, Zimbra Webmail]</b> </li>
            <li><b>[Android, Alarm for the Lazy]</b> </li>
            <li><b>[Android, Drunk Call Blocker]</b> </li>
          </ul>
          </div>
        </div>

        <div class="row" style="margin-top:20px">
          <div class="col-md-12"><p>Elsewhere on the internet:</p></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul>
            <li><b></b> </li>
            <li><b><a>Blog</a></b> </li>
            <li><b><a>Sina Weibo</a></b> </li>
            <li><b><a>Github</a></b> </li>
            <li><b><a>ORCID</a></b> </li>
            <li><b><a>Zotero</a></b> </li>
            <li><b><a>Google Scholar</a></b> </li>
            <li><b><a>irlab</a></b> </li>
            <li><b><a>Sciencenet</a></b> </li>
            <li><b><a>Space</a></b> </li>
          </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 " style="margin-top:20px">
            <p>I love exploring and traveling, working on interesting ideas, and merging software with hardware. Ping me, and let's make a super awesome gadget together!</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
</body>
</html>
